PORT=5000
MONGO_URL=mongodb+srv://karanthable211_db_user:Karan%40321@cluster0.76xvxxt.mongodb.net/loanDB?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=7yaT85TOsNHk56B62dYN0xtpndef1XA1Nh75NsXziubWePtZA75wKtAjmDr
JWT_EXPIRES_IN=3d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
